body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}
h1{
    font-size: 40px;
}
h2{
 font-size: 35px;
}

.peter{
    color: #FA6F5A;
}
.flexible-tab{
    display: flex;
    margin-bottom: 60px;
  
    
}
.half-width{
   width: 50%;
   padding-left: 5%;
   margin-left: 45px;
   margin-top: 60px;
}
.half-widt img{
    width: 80%;
    margin-top: 35px;
    margin-left: 60px;
}
.half-width a{
    text-decoration: none;
    background-color:orange;
    padding:8px;
    color:black;
    border-radius: 5px;
    
}
.half-width a:hover{
    background-color: tomato;
    color: white;
    font-weight: 500;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-middle img{
    width: 80%;
}
.dream-middle{
    background-image: url(images/dream-bg.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    margin-bottom: 60px;
}
.Experiences-bar{
    width: 40%;
    margin-left: 6%;
    margin-right: 2%;
    padding-left: 20px;
    padding-bottom: 20px;
    box-shadow: 10px 10px 40px grey;
    border-radius: 20px;
   
}
.Experiences {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left center;
    margin-top: 50px;
    
}
.exp-1{ 
    margin-left: 25px;
}
.border-color1{
    border-left: 5px solid #FA745D;
}
.border-color2{
       border-left: 5px solid;
       border-image: linear-gradient(blue,cyan);
       border-image-slice: 1;
      
}
footer p{
    text-align: center;
    color: gray;
    
    

}
footer{
    margin-top: 180px;
}